:root {
  --primary: rgb(27, 96, 146);
  --primary-dark: rgb(18, 40, 85);
  --secondary: rgb(248, 236, 59);

}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100vw;
  min-height: 100vh;
}

.top-nav {
  background-color: var(--primary);
  padding: 1rem;
}

.title {
  color: white;
}

/* * Reusable Classes * */

.btn {
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.4s ease-in-out;
}

.cta-btn {
  background-color: var(--primary);
  color: white;
}

.cta-btn:focus,
.cta-btn:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.outline-btn {
  background-color: white;
  color: var(--primary);
}

.primary-fill:focus,
.primary-fill:hover {
  background-color: var(--primary);
  color: white;
}

.secondary-fill:focus,
.secondary-fill:hover {
  background-color: var(--secondary);
}

/* * Flex * */
.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--align-center {
  align-items: center;
}

.flex--align-end {
  align-items: flex-end;
}

.flex--justify-around {
  justify-content: space-around;
}

.flex--justify-between {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-end {
  justify-content: flex-end;
}

.flex--wrap {
  flex-wrap: wrap;
}